:root {
  --primary-color: #646cff;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input,
select {
  all: unset; /* kills browser defaults */
  box-sizing: border-box;

  background: rgba(255, 255, 255, 0.08);
  color: #eaeaea;

  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;

  padding: 6px 10px;
  height: 32px;

  font-size: 14px;
}

input[type="number"] {
  text-align: center;
}

input[type="checkbox"] {
  appearance: auto;
}

select {
  cursor: pointer;
}

input:focus,
select:focus {
  outline: none;
  border-color: #7aa2ff;
  background: rgba(255, 255, 255, 0.12);
}

input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
  gap: 16px;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.empty-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-direction: column;
  gap: 16px;
}

@keyframes loadingAnimation {
  0% {color: #646CFF;}
  25% {color: #A964FF;}
  50% {color: #64BAFF;}
  75% {color: #A964FF;}
  100% {color: #646CFF;}
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 1000;
  font-size: 18px;

  animation-name: loadingAnimation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.title {
  display: inline-flex;
  align-items: center;

  color: #c7cbff;
  font-weight: 600;
  letter-spacing: 0.25em;

  padding-bottom: 0.25rem;
  border-bottom: 2px solid #5b61ff;
}

.subtitle {
  margin-top: 0.25rem;

  color: #8f93c9;     /* same palette as title, just dimmer */
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.08em;

  opacity: 0.85;
}

.card {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 24px;
  justify-content: center;

  background: #1e1e3e;
  padding: 1rem 1.25rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);

  width: 50rem;
  text-align: left;
  height: 108px;

  color: #6b70f5;
}

.edit-item {
  max-width: 25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  color: #6b70f5
}